
/* Definicon de variables a utilizar en el proyecto */


/* Bloque pilares */
$pilar-color-fondo: #02243D;
$pilar-color-texto: white;
$pilar-color-borde: white;

/* Bloque nav */
$nav-color-fondo: #197ABE;
$nav-color-texto: white;

/* Bloque footer */
$footer-color-fondo: #ddd;

